version: 2

updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "mix"
    directory: "/packages/elixir/lumis"
    schedule:
      interval: "weekly"

  - package-ecosystem: "cargo"
    directory: "/packages/elixir/lumis/native/lumis_nif"
    schedule:
      interval: "weekly"
